html {
  background: url("../img/dw2.png") repeat;
}

h1 {
  font-family: 'Laila', serif;
  color: #601147;
  font-size: 4rem;
  margin-top: -3850px;
  margin-left: 250px;
}

#current {
  color: #AB0375;
}

/* Navigation */

nav {
  position: absolute;
  margin-top: -3932px;
  max-width: 100%;
  left: 200px;
}

nav li {
  display: inline;
}

nav a {
  font-weight: 900; 
}

nav ul li a:link, nav ul li a:visited {
  font-family: 'Questrial', sans-serif;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #204449;
  font-size: 1.75rem; 
}

li a {
  border: 2px;
  padding: 20px;
}

nav ul li a:hover { 
  color: #B9EFEF;
  background: url("../img/WClink2.png") no-repeat;
  background-size: 90%;
  background-position: center;
}

footer {
  margin: 50px;
}

footer p {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
  color: #204449;
  font-weight: 300;
  width: 100%;

}

.contents {
  position: absolute;
  
}

/* Bio */

#bio {
  position:absolute;
  display: block;
  color: #65326D;
  font-family:'Questrial', sans-serif;
  font-size: 1.4rem;
  max-width: 100%;
  letter-spacing: .5px;
  margin-left: -70px;
}

#pone {
  text-align: center;
  margin: 20px;
}

#ptwo {
  text-align: center;
  margin: 20px;
}

#pthree {
  text-align: center;
  margin: 20px;
}

.poodle {
  margin: 0 auto;
  max-width: 100%;
  position: relative;
  text-align: center;
  float: center;
}

#picture {
  display: block;
  max-width: 125%;
  border-radius: 20px;
}


/****** Logo Styling ******/
.one, .two, .three, .four, .five, .six {
	position: relative;
	transform: scale(.6);
}

.one, .two, .three {
  z-index: -50;
}

.one{
  top:-1150px;
}

.two {
  top:-2150px;
}

.three {
  top:-3150px;
}

.sym {
  position: relative;
  transform: scale(.65);
  top: -150px;
	z-index: 10;
}

.logo {
  transform: translate(-512px,-1149px) scale(.45);
