.ac-container{
  width: 1000px;
  margin: 10px auto 30px auto;
  text-align: center;
}
.ac-container label{
  font-family: font-family: 'Questrial', sans-serif;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #cc72e5;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  line-height: 33px;
  font-size: 1.2rem;
  background: #015E6F;
  background: -moz-linear-gradient(top, #601147 1%, #510b3b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#601147), color-stop(100%,#510b3b));
  background: -webkit-linear-gradient(top, #601147 1%,#510b3b 100%);
  background: -o-linear-gradient(top, #601147 1%,#510b3b 100%);
  background: -ms-linear-gradient(top, #601147 1%,#510b3b 100%);
  background: linear-gradient(top, #601147 1%,#510b3b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#601147', endColorstr='#510b3b',GradientType=0 );
  box-shadow: 
    0px 0px 0px 1px rgba(0,0,0,0.3), 
    1px 0px 0px 0px rgba(0,0,0,0.9) inset, 
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover{
  background: #204449;
  
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
  background: #204449;
  color: #cc72e5;
  text-shadow: 0px 1px 1px rgba(0,0,0, 0.6);
  box-shadow: 
    0px 0px 0px 1px rgba(0,0,0,0.3), 
    0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../images/arrow_down.png) no-repeat center center;  
}
.ac-container input:checked + label:hover:after{
  background-image: url(../images/arrow_up.png);
}
.ac-container input{
  display: none;
}
.ac-container article{
  background: rgba(0, 0, 0, 0.3);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ph-one {
  margin: auto;
}

.ul-one-one {
  position: absolute;
  left: 240px;
}

.ul-two-one {
 position: absolute;
 left: 511px;
}

.ph-two {
  margin: auto;
}

.ul-one-two {
  position: absolute;
  left: 220px;
}

.ul-two-two {
 position: absolute;
 left: 520px;
}

.ul-ed li:nth-child(2){
  margin-bottom: 35px;
}
.ul-ed li:nth-child(4){
  margin-bottom: 35px;
}
.ul-ed li:nth-child(6){
  margin-bottom: 35px;
}

.ac-work li {
  margin-bottom: 20px;
  margin-top: 20px;
}

.ac-work ul {
  margin-top: 10px;
}

.ac-container input:checked ~ article{
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
}
.ac-container input:checked ~ article.ac-comp{
  height: 205px;
}
.ac-container input:checked ~ article.ac-skill{
  height: 280px;
}
.ac-container input:checked ~ article.ac-ed{
  height: 400px;
}
.ac-container input:checked ~ article.ac-work{
  height: 205px;
}

html {
  background: url("../img/dw2.png") repeat;
}

.contents {
  position: absolute;
  top: 240px;
}

#current {
  color: #AB0375;
}

h3 {
	font-family: 'Questrial', sans-serif;
	color: #601147;
	font-size: 1.5rem;
	margin: 0px;

}

/*Body copy*/
li {
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 1.2rem;
	margin: 10px auto 10px auto;
	color: #8D6798;
}

li {
	list-style: none;
}
/* Navigation */

nav {
  position: absolute;
  margin-top: -3932px;
  max-width: 100%;
  left: 200px;
}

nav li {
  display: inline;
}

nav a {
  font-weight: 900; 
}

nav ul li a:link, nav ul li a:visited {
  font-family: 'Questrial', sans-serif;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #204449;
  font-size: 1.75rem; 
}

li a {
  border: 2px;
  padding: 20px;
}

nav ul li a:hover { 
  color: #B9EFEF;
  
}

footer {
  margin: 50px;
}

footer p {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
  color: #204449;
  font-weight: 300;
  width: 100%;

}

.contents {
  position: absolute;
  
}

/****** Logo Styling ******/
.one, .two, .three, .four, .five, .six {
	position: relative;
	transform: scale(.6);
}

.one, .two, .three {
  z-index: -50;
}

.one{
  top:-1150px;
}

.two {
  top:-2150px;
}

.three {
  top:-3150px;
}

.sym {
  position: relative;
  transform: scale(.65);
  top: -150px;
	z-index: 10;
}

.logo {
  transform: translate(-512px,-1149px) scale(.45);









