/*  Color Palette:

	Pink....... #FCDBE6 rgba(252,219,230,1)
	Purple..... #764E76 rgba(118,78,118,1)
	Blue....... #7B84C9 rgba(123,132,201,1)
	Teal....... #91E2D5 rgba(145,226,213,1)
	Seafoam.... #00A692 rgba(0,166,146,1)

	Icon Purple: #723F6E;   */


/*********** SECTION LAYOUT ***********/
	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: auto;
		background-attachment: fixed;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	#section0{
		background-image: url('../img/whitneyblue.png');
		padding: 6%;
	}
	#section1{
		background-image: url('../img/whitneypurple.png');
		padding: 6%;
	}

 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url('../img/symphonyseafoam.png');
		padding: 1%;
		background-attachment: fixed;
	}
	#slide2{
		background-image: url('../img/symphonypurple.png');
		padding: 1%;
		background-attachment: fixed;
	}
	#slide3{
		background-image: url('../img/symphonyblue.png');
		padding: 1%;
		background-attachment: fixed;
	}
	
/*********** HEADINGS *****************/

	h1 {
		font-size: 5.5rem;
		font-family: 'Questrial', sans-serif;
		color: #723F6E;
		margin:0;
		padding:0;
		text-shadow: 4px 4px #7B84C9;
	}

	h2 {
		font-size: 3.5rem;
		font-family: 'Questrial', sans-serif;
		color: #7B84C9;
		margin-top: 70px;
		padding:0;
		text-shadow: 4px 4px #764E76;
	}

	h3 {
		font-size: 4rem;
		font-family: 'ABeeZee', sans-serif;
		color: #00A692;
		margin-left: 15px;
		padding: 0;
		text-align: left;
	}

	.resone {
		font-size: 4rem;
		font-family: 'ABeeZee', sans-serif;
		color: #764E76;
		margin-left: 15px;
		padding: 0;
		text-align: left;
	}

	.restwo {
		font-size: 4rem;
		font-family: 'ABeeZee', sans-serif;
		color: #7B84C9;
		margin-left: 15px;
		padding: 0;
		text-align: left;
	}

	.resthree {
		font-size: 4rem;
		font-family: 'ABeeZee', sans-serif;
		color: #764E76;
		margin-left: 15px;
		padding: 0;
		text-align: left;
	}


	h4 {
		font-size: 2rem;
		font-family: 'Oxygen', sans-serif;
		font-weight: 300;
		color: #FCDBE6;
		margin-top: -40px;
		
	}

	h5 {
		display: block;
		font-size: 1.8rem;
		font-family: 'Oxygen', sans-serif;
		font-weight: 300;
		color: #FCDBE6;
		margin: 5px;
	}

	h6 {
		display: block;
		font-size: 1.5rem;
		font-style: italic;
		font-family: 'Oxygen', sans-serif;
		font-weight: 300;
		color: #FCDBE6;
		margin: 5px;
	}

	.school {
		margin-top: 40px;
	}

/*********** GENERAL CONTENT ******************/

	.info {
		margin-top: 8%;
	}

	p {
		font-size: 1.3rem;
		font-family: 'Oxygen', sans-serif;
		font-weight: 300;
		color: #FCDBE6;
		margin: 40px 5% 40px 5%;
	}

	.emp {
		font-size: 1.2rem;
		font-family: 'Oxygen', sans-serif;
		font-weight: 300;
		color: #FCDBE6;
		margin: 0 3% 20px 3%;
	}

	.contact li {
		list-style: none;
		display: inline;
		padding: 20px;
		font-size: 1.1rem;
		font-family: 'ABeeZee', sans-serif;
	}

	a  {
		color: #00A692;
		padding: 10px;
		margin: 0 20px 0 20px;
	}

	a:hover {
		color: #91E2D5;
	}
	
	.icony {
		position:absolute;
		left:0;
		right:0;
		bottom: 50px;
		margin-left:auto;
		margin-right:auto;
	}

	.pie {
    display: inline-block;
    color: #FCDBE6;
	} 

	.circliful {
    position: relative; 
	}

	.circle-text, .circle-info, .circle-text-half, .circle-info-half {
	    width: 100%;
	    position: absolute;
	    text-align: center;
	    display: inline-block;
	}

	.circle-info, .circle-info-half {
		color: #999;
	}

	.circliful .fa {
		margin: -10px 3px 0 3px;
		position: relative;
		bottom: 4px;
	}

	.skilz {
		margin-bottom: 6%;
	}

/*********** IMAGES *******************/

	.loralee {
		position: absolute;
		left: 0;
		bottom: 1px;
		width: 20%;
	}

	.iconz {
		position: relative;
		width: 30%;
		margin-top: 60px;
	}

	


